.main {
  background-color: rgb(241, 241, 241);
  width: 100%;
  height: auto;
}
.wrapperSidebar {
  width: 250px;
  margin-top: 15px;
}
.wrapperSidebar img {
  width: 250px;
}
.wrapperContent {
  position: relative;
  width: 100%;
  background-color: #fff;
  margin-top: 15px;
  height: 580px;
  padding: 30px 50px 30px 50px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2 {
    text-align: center;
}
.table {
  width: 60%;
  margin-top: 50px;

}

.table th,
.table td,
.table tr {
  text-align: left;
  padding: 15px;
  font-size: 18px;
}
.table input{
    height: 40px;
    width: 250px;
}

.button{
    margin-top: 30px;
    margin-left: 200px;
}
@media screen and (max-width: 577px) {
    .wrapperSidebar{
      display: none;
    }
    .table tr td{
      font-size: 16px;
    }
    .button{
     text-align: center;
     margin-left: 0px;
  }
  .icon{
    position: absolute;
    font-size: 24px;
    top:5px;
    left: 8px;
  }
}